html {
	font-size: 16px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #000;
	background-color:#fff;
	min-width: 320px;
}

.navbar-brand{
    color:#fff;
}
section {
	padding: 50px 0;
}
.navbar-light .navbar-brand {
    color: rgb(255, 255, 255);
}

a {
	color: #111;
}

a:hover {
	color: #666;
}
.navbar {
	background-color:#212529;
    height: 65px;
}

.navbar-light .navbar-nav .nav-link {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
}

.navbar-nav .dropdown-menu {
	right: 0;
	left: auto;
}

.top-menu li a::after {
	content: '';
	display: block;
	width: 100%;
	background-color: #ffffff;
	height: 1px;
	transition: all .3s;
	transform: scale(0);
}

.top-menu li a:hover::after {
	transform: scale(1);
}

.hero {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);
	transition: all .3s;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-wrap:nowrap;
}
.modal-hero{
	display:flex;
	flex-direction:column;
}

.hero:hover {
	box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.hero-details h4 a {
	font-weight: 500;
	height: 60px;
	overflow: hidden;
	text-decoration: none;
}
.hero-links a {
	font-size: 20px;
	margin-left: 10px;
}

.footer {
	background-color: #343434;
}

.footer h4 {
	color: #ccc;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 1px solid #666;
	padding-bottom: 3px;
}

.footer a {
	text-decoration: none;
	transition: all .3s;
}

.footer a:hover {
	color: #fff;
	text-decoration: underline;
}

.footer a,
.footer li {
	color: #c8c8c8;
}

.footer li a {
	display: block;
}

.footer-icons a {
	display: inline-block;
	margin-right: 15px;
	font-size: 20px;
}
